.Button {
  background-color: #495057;
  border: 1px solid #495057;
  color: white;
  border: none;
  cursor: pointer;

  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 0.25rem;
  font-family: inherit;
  font-weight: 700;
}
.Button:hover {
  background-color: #333;
}
.Button:focus {
  outline: none;
}
.Button:active {
  background-color: #222;
}
.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
